body {
    background: #141414;
}

#help-button {
    float: right;
}

#glcanvas {
    border: white;
    border-style:solid;
    border-width:1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    touch-action: none;
    margin-top: 10px;
}

#transform-controls {
    width: fit-content;
    display: block;
    /* align-items: center; */
    margin: auto;
}

#objects-controls .ui-spinner-input {
    width: 60px;
}
#objects-controls input[type="color"] {
    width: 100%;
}
div.object-control-container {
    display: flex;
}
div.object-geometry-controls {
    flex-grow: 1;
    display: flex;
}
div.object-geometry-controls > div {
    margin-top: auto;
    margin-bottom: auto;
}
div.object-material-controls {
    flex-grow: 1;
}

output {
    width: 50px;
    display: inline-block;
}

.control-group {
    width: 100%;
    box-sizing: border-box;
}

#console_output {
    font-family: monospace;
    max-height: 150px;
    overflow: auto;
    border-width: 1px;
    border-color: grey;
    border-style: solid;
    padding: 10px;
}

#console_output .error {
    color: red;
}

input[type=range] {
    width: 70%;
}

div#controls {
    height: 30px;
    color: white;
}

#progress {
    width: 100%;
    text-align: center;
    line-height: 30px;
    min-height: 30px;
    display: flex;
}

#fps-display {
    /* height: 30px; */
    width: 100%;
    float: left;
    color: white;
    background-color: darkgrey;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    min-height: 30px;
    font-family: monospace;
}